{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="content mt-5">
                <h3>
                    Hello ! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae commodi beatae quo!
                    Quae, eum ullam. Consequuntur mollitia culpa corrupti perspiciatis, ducimus maxime voluptatem minus
                    delectus inventore numquam quisquam ab illo?
                </h3>
                <a href="{% url 'about' %}" class="btn btn-primary btn-lg mt-2">Learn More</a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="https://res.cloudinary.com/ericouma/image/upload/v1573151338/dsc.jpg" class="img-fluid"
                alt="Responsive image"></div>
    </div>
</div>
{% endblock page_content %}